<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <title>Lista de Municípios</title>
</head>

<body>

<div class="container text-center">
    <div class="jumbotron">
        <h1 class="display-4">Lista de Counties</h1>
    </div>
    <div>
        <form id="form" class="" th:action="@{/municipios/consulta}" method="post">
            <div class="row">
                <div class="form-floating col-sm-12">
                    <label class="form-label mx-2" for="county">Municípios</label>
                    <input class="form-control" type="search" id="county"
                           placeholder="Digite o munícipio que deseja pesquisar" list="municipios" name="name" th:field="*{county.name}"
                           required autocomplete="off">
                    <div class="invalid-feedback">
                        Digite um munícipio válido
                    </div>
                </div>
            </div>
            <div id="info" class="row invisible mt-2">
                <div class="col-sm-6">
                    <select name="tipo" id="tipo" th:field="*{county.tipo}">
                        <option th:value="receitas" label="Receitas"></option>
                        <option th:value="despesas" label="Despesas"></option>
                    </select>
                    <label for="tipo">Selecione o que deseja consultar do município</label>
                </div>
                <div class="col-sm-6">
                    <input type="month" id="mesAno" autocomplete="off">
                    <label for="mesAno">Selecione o mês e o ano que deseja consultar</label>
                </div>
            </div>
            <div class="row my-4 justify-content-center">
                <div class="btn-group col-sm-4">
                    <button type="submit" class="btn btn-primary">Consultar</button>
                </div>
            </div>
            <datalist id="municipios">
                <option th:each="v, i : ${counties}" th:value="${counties[__${i.index}__].municipio_extenso}"></option>
            </datalist>
            <div>
                <input id="fullCounty" type="hidden" name="fullName" th:field="*{county.fullName}">
                <input type="hidden" name="ano" id="ano" th:field="*{county.ano}">
                <input type="hidden" name="mes" id="mes" th:field="*{county.mes}">
            </div>
            <datalist id="municipios_extenso">
                <option th:each="c, j : ${counties}" th:value="${counties[__${j.index}__].municipio}"
                        th:label="${counties[__${j.index}__].municipio_extenso}"></option>
            </datalist>
        </form>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="/consulta.js" lang="text/javascript"></script>
</body>
</html>
