<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <title>Receitas de Município</title>
</head>
<body>
<div class="container text-center">
    <div class="jumbotron">
        <h1 class="display-4" th:text="${countyName}"></h1>
    </div>
    <div th:if="${counties.size() > 0}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Orgao</th>
                <th scope="col">Mês</th>
                <th scope="col">Fonte do Recurso</th>
                <th scope="col">Código de Aplicação Fixo</th>
                <th scope="col">Alínea</th>
                <th scope="col">Subalínea</th>
                <th scope="col">Valor da arrecadação</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="county, i : ${counties}">
                <td th:text="${counties[__${i.index}__].orgao}"></td>
                <td th:text="${counties[__${i.index}__].mes}"></td>
                <td th:text="${counties[__${i.index}__].ds_fonte_recurso}"></td>
                <td th:text="${counties[__${i.index}__].ds_cd_aplicacao_fixo}"></td>
                <td th:text="${counties[__${i.index}__].ds_alinea}"></td>
                <td th:text="${counties[__${i.index}__].ds_subalinea}"></td>
                <td th:text="${counties[__${i.index}__].vl_arrecadacao}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${counties.size() > 0}">
        <h3>Não foi contrada nenhuma despesa para esse mês</h3>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>